<!--use to look published tasks and publish new task-->

{% extends 'me.html' %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% block title %}Receive{% endblock %}
</head>
<body>
    {% block info %}
    <div class="container">
        <h2 style="font-size:x-large">Receive Tasks</h2>
        <div class="row">
            <div class="col-mod-6 col-md-offset-3">
        <table class="table table-striped">
            <thead>
                <tr style="color:#0094ff;font-size:larger">
                    <th>#</th>
                    <th>Name</th>
                    <th>StartDate</th>
                    <th>Period</th>
                    <th>Reward</th>
                    <th>Receive</th>
                </tr>
            </thead>
            {% for task in receivable %}
            <tr style="color:#068667;font-size:large">
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.start}}</td>
                <td>{{task.period}}</td>
                <td>{{task.cost}}</td>
                <td>
                    <form action="receive_get" method="post">
                        {% csrf_token %}
                        <input type="number" value="{{task.id}}" hidden="hidden" name="id" />
                        <input type="text" value="{{account}}" hidden="hidden" name="receiver"/>
                        <button type="submit"  class="btn btn-success">Receive</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
            </div>
            </div>
    </div>
    {% endblock %}
</body>
</html>